.card-header {
  background-color: #606060;
  color: white;
  text-align: center;
}


.row {
  border-bottom: 1px solid grey;
  border-radius: 6px;
  margin: 1px;
  padding: 6p
}

.col-md-4 {
  text-align: center;
}

#cos {
    margin: auto;
    width: 50%;
    border: 0px solid greenyelllow;
    padding: 10px;
}
