<!-- 
<div class="container">
  
      <h1>The best site to search users and  their respective repositories</h1>

  
     <p>My Github Profile</p>
    <hr>
      <div >
        <p class="button1"><a class="buttons bg-dark" routerLink='/profile'>Go to Search Page</a></p><br>
        <p class="button2"><a class="buttons bg-dark" routerLink='/about' routerLinkActive='active'>Click to View More Details</a></p><br>
      </div> -->

      <div class="justify-content-center">
        <form #search='ngForm'  (ngSubmit)="findUser(search.name)" class="suchfor">
         <h1> Github Search </h1>
       <input type="text" name="name" #name='ngModel' [(ngModel)]='search.name' id="user" placeholder="Enter GithubName">
       <button>Search</button>
       </form>
     
       <div *ngIf="profile" class="side">
         <div class="image">
           <img class="rounded-circle z-depth-8" src="{{ profile.avatar_url}}" alt="profileimg"
             data-holder-rendered="true"><br>
           <a href="{{profile.html_url}}" target="_blank"><b>View Profile</b></a>
         </div>
     
         <ul>
           <li class="Username"><strong>Name:</strong>{{profile.name}}</li>
           <li class="name"><strong>Username:</strong>{{profile.login}}</li>
           <li *ngIf="profile.bio"><strong>Bio</strong> {{profile.bio}}</li>
           <li class="followers"><strong>Followers:</strong>{{profile.followers}}</li>
           <li class="following"><strong>Following:</strong>{{profile.following}}</li>
           <li class="prepos"><strong>Public_Repo:</strong> {{profile.public_repos}}</li>
         </ul>
       </div>
     
       <div *ngFor="let repos of repos" class="two-in-arow">
         <div class="card card-cascade wider reverse width50">
           <!-- Card content -->
           <div class="card-body card-body-cascade text-center">
     
             <!-- Title -->
             <h4 class="card-title"><strong>{{repos.name}}</strong></h4>
             <!-- Subtitle -->
             <h6 class="font-weight-bold indigo-text py-2">Photography</h6>
             <!-- Text -->
             <p class="card-text">{{repos.description}}<a href="{{repos.html_url}}" target="_blank"><br> VIEW</a></p>
     
           </div>
         </div>
       </div>
     

